.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button {
    flex: 1;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .save-button {
    background-color: #616161; /* Серый цвет */
    margin-right: 10px;
  }
  
  .submit-button {
    background-color: #AE2121; /* Красный цвет */
  }
  
  .save-button:hover {
    background-color: #6c757d;
  }
  
  .submit-button:hover {
    background-color: #dc3545;
  }
  
