.entrance-buttons {
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    margin-top: 16px;
    /* justify-content:space-between;  */
    margin-bottom: 15px;
  }
  
  .entrance-button {
    background-color: #fff;
    color: black;
    padding: 8px 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }
  .entrance-button:hover {
    border-color: #AE2121;
  }
  .red{
    color: #AE2121;
  }
  .text_title{
    font-weight: 700;
    font-size: 24px;
    margin: 0px;
  }

 
  
  