@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
  text-align: left;
}

.section{
  width: 100%;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}

.div_leftAndRight{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.div_box{
  height: 600px;
  width: 1200px;
  background-color: white;
  margin-bottom: 20px;
}