.div_num_entrances{
    display: flex;
    align-items: center;
    gap: 192px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.num_entrances{
    display: flex;
    gap: 10px;
}

.num_entrances-input{
    border: 2px solid;
    border-radius: 2px;
    width: 35px;
    height: 20px;
    font-size: 14px;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
}

.button_choise{
    width: 300px;
    background: #fff;

    
    
}

.button_text_num{
    font-weight: 700;
    border: 2px solid var(--branded-gray);
    border-radius: 2px;
    padding: 10px 54px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.label_text_num{
    font-weight: 500;
}

.quntity_entrance{
    display: flex;
    align-items: center;
    gap: 5px;
}